{% extends "delegation_part1/Page.html" %}
{% load otree static %}

{% block head_title %}
第{{ subsession.round_number }} / {{ Constants.num_rounds }}ラウンド終了
{% endblock %}

{% block content %}


<div align="center">
    <h1 class="var_title">
        第{{ subsession.round_number }} / {{ Constants.num_rounds }}ラウンド終了</h1>
    <br>

    <div class="card bg-light instructions" align="center"
        style="height:150px;width:410px; padding:5px; box-shadow: 2px 2px 4px gray;">
        <div class=" card-body">
            <p>
            <p>
                {% if subsession.round_number < 10 %}
            <p>第{{ subsession.round_number }} ラウンドが終了しました。</p>
            <p>次のラウンドでは別の参加者とペアになります。</p>
            <!-- 次のラウンドでは、もう一度ランダムに他グループの誰かとペアになります。 -->
            <br>

            {% else %}
            <p>おつかれさまでした。実験パート１は終了です。</p>
            <p>実験パート２に進みます。</p><br>
            {% endif %}
            </p>
            </p>
        </div>
    </div>
    <br>
    <button class="btn btn-primary" name="round_index" value="{{ subsession.round_index　}}">次へ</button>
</div>
{% endblock %}