{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
第{{ subsession.round_number }} / {{ Constants.num_rounds }}ラウンド終了
{% endblock %}

{% block content %}

<p>
    <br>
    {% if subsession.round_number < 10 %}
    第{{ subsession.round_number }} ラウンドが終了しました。<br>
    次のラウンドに進みます。
    <!-- 次のラウンドでは、もう一度ランダムに他グループの誰かとペアになります。 -->
    <br><br>

    {% else %}
    おつかれさまでした。これで実験パート１は終了です。<br><br>
    「次へ」をクリックしてしばらくお待ちください。<br>
    すべての参加者の意思決定が終わり次第、実験パート２に進みます。<br><br>
    {% endif %}
</p>

<button class="btn btn-primary" name="round_index" value="{{ subsession.round_index　}}">次へ</button>

{% endblock %}