{% load otree %}

<div class="card bg-light AgentProjectA">
<div class="card-body">
    <p>
         <strong>② 参加者Bに決定権を渡した場合</strong><br><br>

            プロジェクトが成功すれば、あなたは{{ subsession.principal_when_success_b }}ポイント。参加者Bは{{ subsession.agent_when_success_b }}ポイント<br>
            失敗すれば、あなたと参加者Bはともに{{ subsession.when_fail_b }}ポイント。<br>
            (ただし、参加者BがプロジェクトBを選ぶと仮定する）
        <br><br>

        最小要件が<strong>{{ group.principal_minimum_requirement }}</strong>なので、
        参加者Bは最低でも{% if subsession.cost_blue %} <strong>{{ minimum_cost_blue }}</strong>
        {% else %} <strong>{{ minimum_cost_yellow }}</strong>{% endif %} のコストを払う <br>

</div>
</div>
