{% load otree %}

<div class="card bg-light AgentProjectA">
    <div class="card-body">
        <p>
            <strong>① あなたが決定権を持ち続けた場合</strong><br><br>

            {% if group.principal_project_choice == 1 %}
            プロジェクトが成功すれば、あなたは{{ subsession.principal_when_success_a }}ポイント。相手は{{ subsession.agent_when_success_a }}ポイント<br>
            失敗すれば、あなたと参加者Bはともに{{ subsession.when_fail_a }}ポイント。
            {% else %}
            プロジェクトが成功すれば、あなたは{{ subsession.principal_when_success_b }}ポイント。相手は{{ subsession.agent_when_success_b }}ポイント<br>
            失敗すれば、あなたと相手はともに{{ subsession.when_fail_b }}ポイント。
            {% endif %}<br><br>
            成功確率：<strong>{{ group.principal_effort_choice }}</strong> ％ <br>

            必要なコスト：{% if subsession.cost_blue %} <strong>{{ principal_cost_blue }}</strong>
            {% else %} <strong>{{ principal_cost_yellow }}</strong>{% endif %} ポイント <br>


    </div>
</div>