{% extends "delegation_part1/Page.html" %}
{% load otree static %}

{% block head_title %}
第{{ subsession.round_number }}ラウンド
{% endblock %}

{% block content %}

<h1 class="var_title">第{{ subsession.round_number }} / {{ Constants.num_rounds }}ラウンド
</h1>




<br>
<h6>決定権を持ち続ける場合、あなたが次のプロジェクトの成功確率を決めます。</h6><br>

<div class="card bg-light" name="principal_project_choice" value="1">
    <div class="card-body">
        {% if group.principal_project_choice == 1 %}
        {% include 'delegation_part1/ProjectA.html' %}
        {% else %}
        {% include 'delegation_part1/ProjectB.html' %}
        {% endif %}
    </div>
</div>

<br>

<p>成功確率を決めてください。
    <span class="tiny">（コスト表は
        {% if subsession.cost_blue %}
        <span class="blue">青</span>）
        {% else %}
        <span class="yellow">黄</span>）
        {% endif %}
    </span>
</p>

{% if subsession.cost_blue %}
<input type="range" id="a" name="principal_effort_choice" value="50" min="0" max="100" step="1" oninput="document.getElementById('output1').value=this.value,
    document.getElementById('output2').value=(0.02*this.value**2).toFixed(1);  ">
{% else %}
<input type="range" id="a" name="principal_effort_choice" value="50" min="0" max="100" step="1" oninput="document.getElementById('output1').value=this.value,
    document.getElementById('output2').value=(0.01*this.value**2).toFixed(1);  ">
{% endif %}

<!-- 0.01や0.02はConstantsのK[0]のこと。K[]をいじる場合はここも変更 -->
<!-- todo 成功確率が10未満の時は計算ルールが変わるので間違ってる！ -->
&nbsp;
<output id="output1">50</output>&nbsp;（必要なコスト：<output id="output2" for="a">50</output>）
<br><br>

{% next_button %}


{% endblock %}