{% extends "delegation_part1/Page.html" %}
{% load otree static %}

{% block head_title %}
第{{ subsession.round_number }}ラウンド
{% endblock %}

{% block content %}

<h1 class="var_title">第{{ subsession.round_number }} / {{ Constants.num_rounds }}ラウンド</h1>

<br>
<h5 class="bold"">相手が選んだ成功確率がいくつ以上なら、決定権を渡したいですか？</h5>
<p class=" small">ペアの相手もプロジェクトと成功確率を選択中です。
  上の質問に答え、相手に決定権を渡す<span class="red">最小要件</span>を決めてください。</p>



  <ul class="flex">
    <li>
      <div class="var_btn_wo_hover">
        <h4 class="var_headline">プロジェクトA</h4>
        <hr>
        <div> {% include 'delegation_part1/ProjectA.html' %}

        </div>
      </div>
    </li>
    <li>
      <div class="var_btn_wo_hover">
        <h4 class="var_headline">プロジェクトB</h4>
        <hr>
        <div>
          {% include 'delegation_part1/ProjectB.html' %}
        </div>
      </div>
    </li>
  </ul>



  <p>最小要件を決めてください。
    <span class="tiny">（コスト表は
      {% if subsession.cost_blue %}
      <span class="blue">青</span>）
      {% else %}
      <span class="yellow">黄</span>）
      {% endif %}
    </span>
  </p>

  <input type="range" id="a" name="principal_minimum_requirement" value="50" min="0" max="100" step="1" oninput="document.getElementById('output1').value=this.value,
    document.getElementById('output2').value=this.value">

  <span style="padding-left:10px;"></span><output id="output1">50</output>

  <span style="padding-left:10px; padding-top:5px;">(相手の成功確率が<output id="output2">50</output>を超えれば決定権を渡す)</span>
  <br><br>

  {% next_button %}

  {% endblock %}